.category-pie-chart-container {
    text-align: center;
  }
  
  .category-pie-chart-container .legend {
    margin-top: 20px;
    text-align: left;
  }
  
  .category-pie-chart-container .legend h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .category-pie-chart-container .legend p {
    font-size: 14px;
    margin: 5px 0;
  }
  