.shopping-list-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .shopping-list {
    list-style-type: none;
    padding: 0;
  }
  
  .shopping-list-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .shopping-list-item.in-cart {
    background-color: #333;
    color: #fff;
  }
  
  .shopping-list-item.in-cart .item-details span {
    color: #ccc;
  }
  
  .shopping-list-item.in-cart .item-details strong {
    color: #fff;
  }
  
  .item-details {
    flex-grow: 1;
  }
  
  .item-actions {
    display: flex;
    gap: 10px;
  }
  
  .add-item-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
  }
  
  .add-item-link:hover {
    text-decoration: underline;
  }
  
  .filter-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .filter-label {
    margin-right: 10px;
  }
  
  .filter-select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .cart-divider {
    text-align: center;
    margin: 20px 0;
    color: #555;
  }
  
  .cart-divider hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
  }